

body article p{
    font-size: 10px;
    color: rgb(78, 78, 78);
    
}/*Descendant combinator*/

nav > li + li {
    margin-bottom: 20px;
}/*Adjacent sibling combinator*/

body nav > ul > li {
    color: crimson;
}/*child combinator*/

body ul li[class="blues"] {
    color: rgb(72, 106, 253);
}

#title {
    font-size: 18px;
    color: rgb(37, 37, 37);
    font-weight: bold;
}

.subtitle {
    color: rgb(37, 37, 37);
    font-size: 14px;
    font-weight: bold;

}

/*Pseudo Classes*/

ul li:first-child {
    font-weight: bold;
}/*verifica se o li é o primeiro filho do ul . true aplica as formatações*/

main article:nth-of-type(3) {
    font-weight: bold;
    font-size: 14px;
}/*aplica quando estiver na posiçao escolhida*/

main ul li {

  padding: 8px;
  float: left;
}
main ul li:nth-child(odd) {
    color: rgb(160, 172, 0);
}/*seleciona elementos impares*/

main ul li:nth-child(even) {
    color: rgb(152, 0, 172);
}/*seleciona elementos pares*/

a:hover {
    color: rgb(238, 75, 75);
}/*aplica quando estiver com o mause passado*/

input:focus {
    border-color: firebrick;
    border-width: 1px;
    outline-color: firebrick;
}/*aplica quando estiver em focu*/

input:required {
    border-radius: 3px;
}/*aplica quando estiver o atributo*/
nav ul li:hover::before {
    content: "> ";
}/*Pseudo elements. o ::before adiciona conteudo HTML antes*/

::selection {
    background-color: rgb(0, 255, 255);
  }
  header {
      background-color: gold;
      padding: 0 10px;
      margin: 10%;
      box-sizing: border-box;

  }
  header:hover {
      background-color: hotpink;
  }
  /*
  Display Block

  Ocupa 100% da largura do elemento pai
  Ocupa sempre a sua própria linha e é posicionado abaixo do elemento anterior
  A altura é definida de acordo com o conteúdo interno
  É possível definir Width e Height
  Você pode definir valores de margin-top e margin-bottom
  Display Inl ine 
  
  Ocupa a largura total do seu conteúdo apenas
  Um elemento inline após outro elemento inline ocupam a mesma linha
  Não é possível definir Width e Height
  Não é possível definir valores de margin-top e margin-bottom
  Ao aplicar o float, automaticamente eles assumem características de display block
  Se aplicado dentro de um texto, irá seguir o fluxo do conteúdo
  */